/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
:root {
  --ifm-footer-background-color: #242526; /* Updated to white */
}

footer {
  background-color: var(--ifm-footer-background-color);
  color: white !important; /* This applies the white color to text */
}
